<!--Web Font Loader-->
<script async>
    WebFontConfig = {
        google: {
            families: ['Zen+Maru+Gothic:500', 'Noto+Sans+JP&display=swap']
        },
        custom: {
            families: ['PlemolJP35 Console', 'Cascadia Mono'],
            urls: ['/fonts/plemol-jp35.css', '/fonts/cascadia-mono.css']
        },
        active: function() {
            sessionStorage.fonts = true;
        },
        timeout: 3000
    };
 
    if (sessionStorage.fonts) {
        document.documentElement.classList.add("wf-active");
    }

    (function(d) {
        const s = d.createElement('script');
        s.async = true;
        s.src = 'https://cdnjs.cloudflare.com/ajax/libs/webfont/1.6.28/webfontloader.js';
        d.body.appendChild(s);
    })(document);
</script>

<!-- Default Font -->
<style>
    body {
        font-family: 'Zen Maru Gothic', 'Noto Sans CJK JP', 'Noto Sans JP', apple-system, BlinkMacSystemFont, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", メイリオ, Meiryo, Osaka, Verdana, Roboto, "Helvetica Neue", Arial, sans-serif;
    }

    .zen-maru {
        font-family: 'Zen Maru Gothic';
    }

    .noto-sans {
        font-family: 'Noto Sans CJK JP', 'Noto Sans JP';
    }

    code, code[class*="language-"], pre[class*="language-"], .logo {
        font-family: 'PlemolJP35 Console', 'Cascadia Mono', 'Source Han Code JP', 'Ricty', 'Ricty Diminished', 'Ricty Diminished Discord', 'Noto Sans Mono CJK JP', 'Inconsolata', 'IBM Plex Mono', 'Consolas', 'Sugoe UI', monospace;
    }

    .plemol-jp35 {
        font-family: 'PlemolJP35 Console';
    }

    .cascadia-mono {
        font-family: 'Cascadia Mono';
    }
</style>

<!-- Icon Font -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/iconify/2.0.2/iconify.min.js" integrity="sha512-CsE5N52TMC+F2OGQp6Ad4fi7f2CaqDfmg1+jF5+vXDVBH777kCJKrXEdylC0zbnLPKtyQQB56RlF6L+/r7sSkQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<style>
    /* Additional spaces in headers after iconify icon */
    h1 svg.iconify-inline, h2 svg.iconify-inline, h3 svg.iconify-inline, h4 svg.iconify-inline, h5 svg.iconify-inline {
        margin-right: 0.4em;
    }
</style>

<!-- MathJax -->
{{ if .Params.mathjax }}
    <script>
        MathJax = {
            tex: {
                inlineMath: [['$', '$']],
                displayMath: [['$$','$$']],
                processEscapes: true,
                processEnvironments: true
            }
        };
    </script>
    <script id="MathJax-script" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/3.2.0/es5/tex-chtml.min.js" integrity="sha512-93xLZnNMlYI6xaQPf/cSdXoBZ23DThX7VehiGJJXB76HTTalQKPC5CIHuFX8dlQ5yzt6baBQRJ4sDXhzpojRJA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{{ end }}
