<!--Web Font Loader-->
<script>
    WebFontConfig = {
        google: {
            families: ['Noto+Sans+JP', 'M+PLUS+1p', 'IBM+Plex+Mono']
        },
        active: function() {
            sessionStorage.fonts = true;
        }
    };
 
    (function(d) {
        const wf = d.createElement('script'), s = d.scripts[0];
        wf.src = 'https://cdnjs.cloudflare.com/ajax/libs/webfont/1.6.28/webfontloader.js';
        wf.async = true;
        s.parentNode.insertBefore(wf, s);
    })(document);
</script>

<!-- Default Font -->
<style>
    body {
        font-family: 'Noto Sans CJK JP', 'Noto Sans JP', sans-serif;
    }

    code {
        font-family: 'IBM Plex Mono', monospace;
    }
</style>

<!-- Icon Font -->
<script src="https://code.iconify.design/2/2.0.3/iconify.min.js"></script>
